@font-face {
    font-family: 'Simpsons';
    src: url(../font/Homer_Simpson.ttf) format('truetype');
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1FC7FF;

    .logo{
        max-width: 40%;
    }

    .quote {
        font-family: 'Simpsons', Comic Sans MS;
        max-width: 90%;
        display: flex;
        align-items: center;

        &__text {
            color: #F8DB27;
            text-shadow: 1px 1px #000;
            font-size: 4em;
            text-align: center;
        }

        &__info {
            text-align: right;
            color: #F8DB27;
            text-shadow: 1px 1px #000;
            font-size: 2.5em;
        }

        .character-img {
            max-width: 25%;
            margin-left: 24px;
        }
    }
}